---
interface Props {
    imageFilePath : string,
    articleTitle : string,
    metaText : string
    articleUrl : string
    pubDate : Date
}

const {imageFilePath, articleTitle, metaText, articleUrl, pubDate} = Astro.props;
---

<div class="article cursor-default lg:w-[30%] flex flex-col gap-3 p-3 shadow-lg bg-gradient-to-br from-green-900 to-cyan-500 rounded-lg lg:hover:scale-105 hover:shadow-2xl transition-all ease-in-out">
    <a href={`/blog/${articleUrl}`}>
        <img src={`/assets/images/${imageFilePath}`} alt={`${articleTitle} Featured Image`} class="h-[150px] w-full object-cover">
    </a>
    <a href={`/blog/${articleUrl}`}>
        <h2 class="line-clamp-2 min-h-[48px]">{articleTitle}</h2>
    </a>
    <p class="text-sm line-clamp-4">{metaText}</p>
    <span class="w-full flex justify-between items-center text-sm">
        <a href={`/blog/${articleUrl}`} class="font-semibold hover:underline ">Read More</a>
        <span class="date"><i class="fa-solid fa-calendar-days"></i> {pubDate}</span>
    </span>
</div>

