---
import data from "../data/siteData";
const contactCardsData = data.textContent.HomePage.ContactCards;

import ContactCards2 from "./contactCards_2.astro";
---

<section class="contactSection lg:h-screen xl:h-[60vh] bg-gradient-to-bl from-[#010c24] to-[#032309af]">
    <div
        class="wrapper z-[2] relative size-full flex justify-center items-center">
        <div class="content z-10 flex justify-center items-center lg:px-20 px-5">
            <div class="cardsHolder bg-[#030303] flex lg:flex-row flex-col text-white px-14 py-12" data-aos="fade-up" data-aos-delay="500">
                {
                    contactCardsData.cardsContent.map((content, index)=>(
                        <ContactCards2 
                            iconImageFile = {content.iconFile}
                            title={content.title}
                            textContent={content.textParagraph}
                            isLinkAvailable = {content.redirectLink.isDisable}
                            linkText={content.redirectLink.title}
                            linkUrl={content.redirectLink.URL} 
                            isBordered={index == 1 && true}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</section>
