---
import { SEO } from "astro-seo";
import data from "../data/siteData.js";

interface Props {
    pageTitle ?:string
    pageDescription ?: string,
    pageType ?: string,
    pageFeaturedImageUrl ?: string
}

const {pageTitle = data.siteTitle, pageDescription = data.MetaDescription, pageType="website", pageFeaturedImageUrl=""} = Astro.props;

var FinalTitle;
if(data.SiteNameAfter_PageTitle) FinalTitle = `${pageTitle} - ${data.siteTitle}`;
else FinalTitle = `${pageTitle}`;
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Page Tags -->
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">

    <!-- Astro SEO -->
    <!-- nofollow and noindex -->
    <SEO
      
      title = {FinalTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: `${pageTitle}`,
          type: `${pageType}`,
          image: `${pageFeaturedImageUrl}`,
        }
      }}
      twitter={{
        creator: "@Ben"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/assets/images/logo.png",
          },
          { name: "twitter:title", content: `${pageTitle}` },
          { name: "twitter:description", content: `${pageDescription}` },
        ],
      }}
    />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription}>

    <!-- Style Tags -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> <!-- Animate On Scroll -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css"> <!-- Font Awesome -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- Custom CSS Styles -->
    <style>
        body::-webkit-scrollbar {
            width: 7px;
        }

        body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #0eb6942e;
        }

        body::-webkit-scrollbar-thumb {
          background-color: #08886e;
          outline: 1px solid #08886e;
        }
    </style>
</head>
