---
import data from "../data/siteData.js";
const flipCards = data.textContent.HomePage.top.flipCards;
---

<!-- Hero Section -->
<section class="lg:h-[900px] relative text-white">
    <span class="bg size-full block absolute z-0" style="background-image: url('/assets/images/bgImg2.webp'); background-repeat: no-repeat; background-position: 50% 0; background-size: cover;"></span> <!--  , linear-gradient(0deg, #04083e40 10%, #010c24 100%); background-color: #000; | linear-gradient(180deg, #005bc8 24.74%, #002a76 100%); -->
    <span class="overlay size-full block absolute z-[1] bg-[#0000005e] "></span> <!-- bg-[#000000a8] -->
    
    <div class="wrapper relative w-full flex justify-center items-center z-[2] ">
        <div class="container1320 lg:w-[1320px] pt-20" data-aos="fade-up" data-aos-delay="500">
            <span class="w-full flex flex-col justify-center items-center lg:px-0 px-3">
                <a class="rounded-full px-8 py-2 font-bold bg-[#2c6857] text-sm lg:text-base text-center shadow-slate-700 shadow-lg" 
                href={
                    data.textContent.HomePage.top.topLink.link != null 
                     && data.textContent.HomePage.top.topLink.link || null
                    }
                    >{data.textContent.HomePage.top.topLink.title} <i class="hidden fa-solid fa-angle-right text-xs"></i></a> <!-- bg-blue-950 -->

                <h1 class="lg:text-5xl text-4xl font-bold text-center mt-28 lg:px-52 lg:leading-[70px] leading-10">{data.textContent.HomePage.top.MainHeading}</h1>

                <span class="flex gap-2 capitalize my-6 hidden">
                    <a class="rounded-full border-2 border-white items-center flex gap-3 px-8 py-2 font-bold shadow-lg" href={data.textContent.HomePage.top.CallToActionLinks.videoPlayButton.redirectLink}>{data.textContent.HomePage.top.CallToActionLinks.videoPlayButton.title} <i class="fa-regular fa-circle-play"></i></a>
                    <a class="rounded-full border-2 border-white items-center flex gap-3 px-8 py-2 font-bold shadow-lg bg-white text-[#000A22]" href={data.textContent.HomePage.top.CallToActionLinks.learnMoreButton.redirectLink}>{data.textContent.HomePage.top.CallToActionLinks.learnMoreButton.title}</a>
                </span>

                <a class="font-bold hover:underline hidden" href={data.textContent.HomePage.top.CallToActionLinks.textLink.redirectLink}>{data.textContent.HomePage.top.CallToActionLinks.textLink.title} <i class="fa-solid fa-angle-right text-xs"></i></a>
            </span>

            <div class="flipCards-holder lg:px-0 px-5 flex lg:flex-row flex-wrap gap-6 mt-24 my-6 justify-center text-white w-full">
                
                {
                    flipCards.map((card) =>(
                        <div class="flipCard md:w-[30%] w-full">
                            <div class="holder w-full lg:h-[400px] md:h-[550px] h-[400px] block relative shadow-lg shadow-[#41908f] rounded-xl">
                                <div class="front absolute size-full top-0 bg-gradient-to-b from-[#002220a1] to-[#002202] rounded-xl p-10 flex flex-col gap-5"> <!-- from-[#000a22a1] to-[#000a22] -->
                                    <i class:list={card.iconClass} class="text-4xl"></i>
                                    <h2 class="text-3xl font-bold">{card.frontHeadingTitle}</h2>
                                    <p class="">{card.frontContent}</p>
                                    <span class="flex justify-end absolute bottom-5 right-5">
                                        <i class="fa-solid fa-right-long"></i>
                                    </span>
                                </div>
                                <div class="back absolute size-full top-0 bg-[#002220] rounded-xl p-10 flex flex-col gap-5">
                                    <h2 class="text-3xl font-bold">{card.backTitle}</h2>
                                    <p>{card.backContent}</p>
                                    {
                                        card.learnMoreLink &&
                                        <a class="rounded-full w-fit border-2 border-white items-center flex gap-3 px-8 py-2 font-bold shadow-lg" href={card.learnMoreLink}>Learn More</a>
                                    }
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style>
.flipCard .front, .flipCard .back {
    backface-visibility: hidden;
}

.flipCard .back {
    transform: rotateY(180deg);
}
.flipCard .holder{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipCard:hover .holder{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
</style>