---
import data from "../data/siteData";
const expertiseData = data.textContent.HomePage.Expertise;
---

<section class="expertise relative">
    <span
        class="bg size-full block absolute z-0 bg-contain"
        style="background: url('/assets/images/AreaExpertiseBg.png') no-repeat 50% 6%, linear-gradient(0deg, #04083e40 10%, #010c24 100%); background-color: #000; "
    ></span>
    <!-- linear-gradient(180deg, #005bc8 24.74%, #002a76 100%); -->
    <span class="overlay size-full block absolute z-[1] bg-gradient-to-tr from-[#032309af] to-[#102049]"></span>
    <div class="wrapper z-[2] relative size-full flex justify-center items-center lg:py-32 py-10">
        <div class="container1320 size-full lg:w-[1200px]">
            <div class="content-holder h-fit flex lg:flex-row flex-col lg:px-0 px-5 lg:gap-16 gap-4 text-white">
                
                <div class="content-left lg:mt-28 lg:w-[40%] flex flex-col gap-4 leading-8 lg:pr-12" data-aos="fade-right" data-aos-delay="500">
                    <span class="text-2xl font-bold uppercase">{expertiseData.title}</span>
                    <h2 class="lg:text-5xl text-4xl font-bold w-2/3">{expertiseData.HeadingLine1} 
                        <span class="whitespace-nowrap">{expertiseData.HeadingLine2}</span>
                    </h2>
                    <p class="lg:text-2xl">{expertiseData.textParagraph}</p>
                </div>

                <div class="content-middle w-[20%] hidden lg:block" data-aos="fade-up" data-aos-delay="500">
                    <img class="invert mt-5"
                        src="/assets/images/expertiseIndicator.png"
                        alt="Expertise Directions Indicator Image"/>
                </div>

                <div class="content-right lg:w-[40%]">
                    <ul class="flex flex-col gap-3">

                        {
                            expertiseData.rightSide_Paragraphs.map((expertise)=>(
                                <li class="flex gap-3" data-aos="fade-right" data-aos-delay="500">
                                    <img class="size-10" src={"/assets/images/" + expertise.iconFile} alt="expertiseIcon" />
                                    <div class="content mb-5">
                                        <h3 class="text-2xl pb-5">{expertise.heading}</h3>
                                        <p class="text-base pb-3">{expertise.textParagraph}</p>
                                        {
                                            expertise.redirectLink.isDisable == true 
                                            ? <a class="font-bold hover:underline opacity-0" href={expertise.redirectLink.URL}>{expertise.redirectLink.title}</a>
                                            : <a class="font-bold hover:underline" href={expertise.redirectLink.URL}>{expertise.redirectLink.title}</a>
                                        }
                                    </div>
                                </li>
                            ))
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
