---
import data from "../data/siteData";
const sliderContent = data.textContent.HomePage.SliderCards;
---
<style is:inline>

    swiper-container.cardsSwiper {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }   

    swiper-container.cardsSwiper swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
    }   

    swiper-container.cardsSwiper swiper-slide img {
        display: block;
    }   

</style>
<section class="sliderCards lg:h-[500px] bg-gradient-to-br from-[#032309] to-[#102049] py-4">
    <div class="wrapper relative size-full gap-4 flex justify-center items-center overflow-hidden">
        <div class="container1368 lg:size-full gap-5 xl:w-[1368px] w-full flex justify-center items-center lg:flex-row flex-col">
            <div class="textContent w-full lg:px-0 px-5 lg:w-[35%] lg:ml-16 text-white" data-aos="fade-right" data-aos-delay="500">
                <h2 class="text-4xl font-semibold">{sliderContent.heading}
                    <span class="block">{sliderContent.heading2}</span>
                </h2>
                <p class="mt-6">{sliderContent.textParagraph}</p>
            </div>
        
            <div class="sliderContainer lg:h-full h-[500px] w-full lg:px-0 px-5 lg:w-[65%] " data-aos="fade-left" data-aos-delay="500">
                <swiper-container class="cardsSwiper" init="false">
                    {
                        sliderContent.sliderCardsContent.map((card) => (
                            <swiper-slide>
                                <div class="w-full justify-between text-white bg-gradient-to-tr from-green-500 to-blue-500 h-[100%] rounded-lg p-3 py-7 flex flex-col">
                                    <span>
                                        <span class="block mt-3 text-xl font-semibold">{card.cardTitle}</span>
                                        <span class="block mt-3">{card.cardTextContent}</span>
                                    </span>

                                    <a class="rounded-full w-fit bg-[#03eac1] items-center flex gap-3 px-8 py-2 font-bold shadow-lg my-2 text-sm lg:text-base" href={card.cardRedirectLink}>{card.cardRedirectTitle}</a>
                                </div>
                            </swiper-slide>
                        ))                        
                    }
                </swiper-container>
            </div>
        </div>
        
    </div>
</section>
