---
const hoverCards = [
    {
        iconFile : "ciso-icn.svg",
        cardTitle : "CISO",
        cardTextContent : "Security excellence is within reach. Discover market-leading XDR, dynamic ASRM, and purpose-build solutions to meet your needs today and tomorrow.",
        cardRedirectText : "Learn More",
        cardRedirectLink : ""
    },
    {
        iconFile : "soc-manager-icn.svg",
        cardTitle : "SOC Managers",
        cardTextContent : "Overcome siloes, complexity, and your growing attack surface to stop adversaries faster with a unified cybersecurity platform.",
        cardRedirectText : "Learn More",
        cardRedirectLink : ""
    },
    {
        iconFile : "cloud-secops-icn.svg",
        cardTitle : "Cloud SecOps",
        cardTextContent : "Gain full visibility and control to resolve multi-cloud complexity, so you can achieve compliance and secure cloud-native apps.",
        cardRedirectText : "Learn More",
        cardRedirectLink : ""
    },
    {
        iconFile : "cloud-developer-icn.svg",
        cardTitle : "Cloud Developer",
        cardTextContent : "Balance security asks while delivering innovative, on-time apps so you can build securely—your way.",
        cardRedirectText : "Learn More",
        cardRedirectLink : ""
    },
    {
        iconFile : "infrastructure-manager-icn.svg",
        cardTitle : "Infrastructure Managers",
        cardTextContent : "Evolve your security to protect more with less, enabling you to mitigate threats quickly and effectively.",
        cardRedirectText : "See how",
        cardRedirectLink : ""
    }
]

---
<style>
    .hidden-text{
        transition: max-height 0.3s ease, padding 0.3s ease;
    }
    .card:hover {
        width: 30%;
        text-align: left;
    }

    .card:hover .hidden-text {
        max-height: fit-content;
        padding: 10px 0;
    }
    .card:hover .card-content {
        align-items: normal;
    }

</style>
<section class="solutionCardsContainer h-screen bg-gradient-to-bl from-[#102049] to-[#032309] text-white py-9">
    
    <div class="wrapper relative size-full gap-4 flex flex-col justify-center items-center overflow-hidden">
        
        <div class="container1320 lg:w-[1120px] pt-10" >
            <div class="textContent w-full lg:px-0 px-5 lg:w-[50%] lg:ml-10">
                <span class="uppercase">Solution by role</span>
                <p class="my-6 text-4xl font-semibold">Stay ahead of any security challenge</p>
            </div>
    
            <div class="hover-card-container flex justify-center items-center">

                {
                    hoverCards.slice(0, 5).map((card, index)=>(
                        <div class="card p-4 h-[70vh] flex justify-center items-center text-center bg-gradient-to-br from-[#085c9c] to-[#027252] overflow-hidden transition-all duration-300 ease-in-out w-[18%]"
                        class:list={
                            [
                                (index >= 0 && index < 4) && "border-r border-white",
                                index == 0 && "rounded-tl-xl rounded-bl-xl",
                                index == 4 && "rounded-tr-xl rounded-br-xl",
                            ]
                        }
                        >
                            <div class="card-content flex flex-col items-center justify-center">
                                <span class="border-b border-gray-300 pb-4 mb-3">
                                    <img src={`/assets/images/${card.iconFile}`} alt={`hoverCards Icon ${card.cardTitle}`} class="size-14" />
                                </span>
                                <h3 class="text-xl font-semibold">{card.cardTitle}</h3>
                                <div class="hidden-text max-h-0 overflow-hidden">
                                    <p class="mb-3">{card.cardTextContent}</p>
                                    <a class="rounded-full w-fit bg-[#03eac1] items-center flex gap-3 px-8 py-2 font-bold shadow-lg" href={card.cardRedirectLink}>{card.cardRedirectText}</a>
                                </div>
                            </div>
                        </div>
                    ))
                }

            </div>
        </div>
    
    </div>
</section>
